In [1]:
import pandas as pd

estonia_df = pd.read_csv('./data/estonia-passenger-list.csv')

In [2]:
estonia_df.head()

   PassengerId  Country        Firstname  Lastname Sex  Age Category  Survived
0            1   Sweden      ARVID KALLE     AADLI   M   62        P         0
1            2  Estonia              LEA   AALISTE   F   22        C         0
2            3  Estonia             AIRI   AAVASTE   F   21        C         0
3            4   Sweden             JURI     AAVIK   M   53        C         0
4            5   Sweden  BRITTA ELISABET  AHLSTROM   F   55        P         0

In [3]:
pd.value_counts(estonia_df['Survived'])

0    852
1    137
Name: Survived, dtype: int64

In [4]:
pd.value_counts(estonia_df['Sex'])

M    503
F    486
Name: Sex, dtype: int64

In [5]:
estonia_df.isnull().sum()

PassengerId    0
Country        0
Firstname      0
Lastname       0
Sex            0
Age            0
Category       0
Survived       0
dtype: int64

In [6]:
estonia_df.groupby(['Sex'])['Survived'].mean()

Sex
F    0.055556
M    0.218688
Name: Survived, dtype: float64

In [7]:
estonia_df.groupby(['Sex', 'Category'])['Survived'].mean()

Sex  Category
F    C           0.100917
     P           0.042440
M    C           0.333333
     P           0.195704
Name: Survived, dtype: float64